 
  /* brand color palette */
  :root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
  
  h1 {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 3.0;
  }
  h2 {
    margin: 20px;
    font-weight: bold;
  }
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 20px;
    text-align: center;
  }
  
  header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
  header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    line-height: 1;
  }

  nav {
    display: contents;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary);
    flex-wrap: wrap;
    border-bottom: 3px solid var(--primary);
    padding: var(--dark);
    margin: var(--dark);
    text-decoration: underline;
  }

  nav ul {
    padding:0;
    display:flex;
    justify-content: space-between;
  }

  nav ul li {
    display: inline-block;
    height: 100%;
    padding: 10px;
    border-bottom: 20px;
    border-color: var(--secondary);
  }

  .nav_links {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 100%;
    color: var(--secondary);
  }
  
  .nav_links li {
    display: inline-block;
    border-bottom: 20px;
    border-color: var(--secondary);
  }

  .nav_links li a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bolder;
  } 

  aside {
    float: left;
    margin: 50px;
    border-right: solid var(--dark);
    padding: 10px;    
  }

  main {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  
  .hero-banner {
    background: rgb(68, 88, 120);
    background-image: url('./images/02-hero-bg.jpg'), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #aboutme p {
    display: flex;
    flex: 0 0 80%;
    flex-wrap: wrap;
  }
  
  .portfolio1 {
    border-width: 40px;
    width: fit-content;
    height:fit-content;
    background: var(--secondary) top center no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px;
  }

  .portfolio1 img {
    max-height:600px;
  }  

  .portfolio2 {
    margin: 20px;
    width: fit-content;
    height: fit-content;
    background: var(--secondary) top center no-repeat;
    background-size: cover;
    padding: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
  
  }
  
  .portfolio2 img {
    height: 300px;
    width: 400px;
  }
  
  
  .subtitle {
    color: white;
    width: 100%;
    height: 30%;
    bottom:0%;
    background: var(--secondary);
    text-align: center;
  }

  .page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    border-right: 4px solid var(--primary);
  }

  .portfolio-cards {
    display: flex;
    flex: 0 0 80%;
    flex-wrap: wrap;
    justify-content:flex-end;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    display: flex;
    flex: 0 0 80%;
    flex-wrap: wrap;

  }
  
  #contact {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }

  .contact address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    height: 100%;
    width: 80%;
  }
  
  .contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
  }
